<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=8ba4dbd6-3286-4bb0-8370-a28a010046eb.sqlserver.sequelizer.com;Database=db8ba4dbd632864bb08370a28a010046eb;User ID=tldpvlflzyvkhgsz;Password=qLxWgQ63MA6KATFtdMrbYGukXCPTRMTBVrtNxzKeCo6xEJ8kAFvL5QeQrm8Kakja;" />
  </connectionStrings>
</configuration>